*{
	box-sizing: border-box;
}
h1{
	margin-bottom: 15px;
	text-align: center;
}
h2{
	margin:0;
	padding:0;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #ed0b29;
	width:150px;
	float:right;
	text-align: center;
}
.column1,.column2, .column3{

	border: 1px solid black;
	/*padding: 1px;*/
	
	/* margin-left: 1px; */
	/*margin: 20px;*/
	background-color: #a09d9f;

	
}
p{
	clear:right;
}

@media(min-width : 992px) {
	.column1, .column2, .column3 {
		float: left;
		width:30%;
		margin:1.66%
	}
}
@media(min-width: 768px) and (max-width: 991px){
.column1,.column2{
	float: left;
	width:45%;
	margin:2.5%;
}
.column3{
	clear:left;
	width:95%;
	margin:2.5%;
}
}